.img{
  width: 300px;
height: 400px;}
.imgads{
  width: 200px;
  height: 210px;
}
.p{
  text-align: center;
  justify-items: legacy;
  padding: 20px;
}
.paf{
  padding-left: 15px;
  text-align: left ;
}
.mu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}
.padre {
  background-color: #cddfd1;
  width: auto; 
  height: auto; /* Altura se ajusta al contenido */
  display: grid;
  grid-template-columns: "1fr 1fr 1fr";
  grid-template-rows: "1fr 1fr 1fr";
}
/*.padre{
    background-color: aqua;
    padding: 10px;
    display: flex; 
    flex-direction: colum-reverse;
    /*flex-direction: row-reverse;*/
    /*height: 500px;
    flex-wrap: wrap;
    justify-content:space-around; /*sirve para filas*/
    /*align-items: center;/*columnas*/
.cabeza{
  background-color: #b4bbb7; 
  grid-column: 1/4;
  grid-row: 1/2;
}
.contenido{
  background-color: rgb(127, 158, 127);
  grid-column: 1/3;
  grid-row: 2/3;
  height: auto;
}
.ads{
  background-color: rgb(136, 190, 136); 
  grid-column: 3/4;
  grid-row: 2/3;
  height: auto;
  width: auto;
}
.pie{
  background-color: #306f51;
  grid-column: 1/4;
  grid-row: 3/4;
}
